::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #3a3a3a;
    opacity: .9; /* Firefox */
}

.buttonClass {
    width: 0px;
    padding: 5px;
}

.search {
    border-bottom: 1px solid #003A8B;
    box-shadow: 0 1px 0 0 #003A8B;
}

table {
    overflow: hidden;
}

.btn-link {
    color: black
}

    .btn-link:hover {
        color: black;
    }

wd {
    width: 80%;
}

.nls {
    border-bottom: 5px solid black;
}

#newsletterPreview, .newsletterPreview {
    margin: 0;
    padding: 0 25px;
    border: 5px solid black;
    background-color: white;
    max-height: 70vh;
    overflow-y: auto;
    color: black;
}

.col-form-label {
    text-align: right;
}

.card {
    border: 1px solid #001a3e;
}

.card-header {
    color: black;
    border-color: #001a3e;
}

    .card-header button {
        font-weight: bold;
    }

/*.cardlist {
    border-top: #001a3e;
    background-color: white;
    list-style-type: none;
    color: white;
}

    .cardlist li {
        color: black;
    }

        .cardlist li a {
            color: black;
        }

    .cardlist a:visited {
        text-decoration: none;
    }

    .cardlist li:hover > a {
        color: #fdd247;
    }*/
.aspl {
    margin: 0 10px;
}

input[type="checkbox"] {
    margin: 0 0px;
}

.lblLink {
    color: black;
}

.requiredRed {
    color: red;
}

lblModalTXT {
    color: red;
}

textarea {
    resize: none;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
    margin: 0;
}

#sendPrompt {
    font-size: 1.5rem;
}

input[type=radio] {
    margin-left: 10px;
}

.commentBox {
    /*width: 30%;*/
}

.resourceTitle {
    margin: 0 !important;
    padding-bottom: 5px !important;
}

@media screen and (max-width: 1000px) {
    /*.rth {
        display: none;
        width: 100%;
    }

    .rtd {
        margin-top: 25px;
        display: block;
        position: relative;
        text-align: center;
        padding: 25px 10px 5px 10px;
    }

        .rtd:last-of-type {
            padding-bottom: 25px;
        }

        .rtd:before {
            text-align: left;
            padding: 0 10px;
            display: inline-block;
            font-weight: bold;
            position: absolute;
            margin-top: -25px;
            top: 0px;
            left: 0px;
            content: attr(data-header);
        }*/

    #jobResourceCollapse th, #eventResourceCollapse th, #trainingResourceCollapse th {
        display: none;
        width: 100%;
    }

    #jobResourceCollapse td:last-of-type, #eventResourceCollapse td:last-of-type, #trainingResourceCollapse td:last-of-type {
        text-align: center;
        padding-bottom: 25px;
    }

    #jobResourceCollapse td, #eventResourceCollapse td, #trainingResourceCollapse td {
        display: block;
        position: relative;
        text-align: left;
        padding: 25px 10px 5px 10px;
    }

        #jobResourceCollapse td:before, #eventResourceCollapse td:before, #trainingResourceCollapse td:before {
            padding: 0 10px;
            display: inline-block;
            font-weight: bold;
            position: absolute;
            top: 0px;
            left: 0px;
        }

        #jobResourceCollapse td:nth-of-type(1):before {
            content: "Title";
        }

        #jobResourceCollapse td:nth-of-type(2):before {
            content: "Contact";
        }

        #jobResourceCollapse td:nth-of-type(3):before {
            content: "Location";
        }

        #jobResourceCollapse td:nth-of-type(4):before {
            content: "Date Posted";
        }

        #jobResourceCollapse td:nth-of-type(5):before {
            content: "Date Expire";
        }

        #eventResourceCollapse td:nth-of-type(1):before {
            content: "Title";
        }

        #eventResourceCollapse td:nth-of-type(2):before {
            content: "Contact";
        }

        #eventResourceCollapse td:nth-of-type(3):before {
            content: "Location";
        }

        #eventResourceCollapse td:nth-of-type(4):before {
            content: "Date";
        }

        #trainingResourceCollapse td:nth-of-type(1):before {
            content: "Title";
        }

        #trainingResourceCollapse td:nth-of-type(2):before {
            content: "Contact";
        }

        #trainingResourceCollapse td:nth-of-type(3):before {
            content: "Location";
        }

        #trainingResourceCollapse td:nth-of-type(4):before {
            content: "Date Posted";
        }

        #trainingResourceCollapse td:nth-of-type(5):before {
            content: "Date Expire";
        }
}

.table-responsive-lg {
    overflow-x: no-display;
    overflow-y: auto;
    max-height: 550px;
}

@media screen and (min-width: 992px) {
    modal-dialog modal-lg {
        width: 950px; /* New width for large modal */
    }
}

.btnDismiss {
    position: fixed;
    top: 25px;
    right: 45px;
    z-index: 999;
}

.modal-backdrop.show {
    opacity: 0.9 !important;
}

.dbdata {
    padding-left: 5px;
}

.btn-group:hover, .btn-group label:hover {
    cursor: pointer;
}

#banner {
    top: 0;
}