#sidebarCollapse {
    position: fixed;
    top: 250px;
    margin-left: 20px;
    margin-top: 5px;
    z-index: 500;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

    .overlay.active {
        display: block;
        opacity: 1;
    }

#sidebar {
    width: 350px;
    top: 0;
    left: -999px;
    padding: 50px 0;
    position: fixed;
    height: calc(100vh);
    background: #193051;
    color: white;
    z-index: 9999;
    transition: all 0.3s ease;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}
#sidebar h3,h4{
    text-align:left;
   margin-left:20px;
   padding-bottom:20px;
}
    #sidebar.active {
        left: 0;
    }

    #sidebar > ul {
        list-style: none;
        margin: 0px;
    }

        #sidebar > ul > li {
            padding: 10px 1em 10px 1em;
            transition: 0.5s;
            color: #ffba01;
            text-indent: -1em;
        }

            #sidebar > ul > li:hover {
                background: #2f4462;
                color: #ffba01;
            }

                #sidebar > ul > li:hover > a {
                    color: #ffba01;
                }

            #sidebar > ul > li > a {
                display: inline;
                color: #afafaf;
                display: block;
                font-size: 1.1em;
                margin-left:30px;
            }

                #sidebar > ul > li > a:hover {
                    color: #ffba01;
                    cursor: pointer;
                    text-decoration: none;
                }

                #sidebar > ul > li > a:visited {
                    text-decoration: none;
                }

    #sidebar ul li a {
        padding: 10px;
    }

/*.content {
    padding-left: 200px;
}*/