body {
    color: white;
    padding: 0;
    margin: 0;
    background-color: grey !important;
    background-size: cover;
    overflow-x: hidden;
}

#page-container {
    min-height: 100vh;
    position: relative;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

footer {
    color: white !important;
    background: black;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 11px;
    z-index: 99;
    padding: 7px;
    position: fixed;
    height: 2.5rem;
}

    footer img {
        height: 2em;
    }

.container {
    background-color: #3a3a3a;
    box-shadow: 0 0px 25px #fdd247;
    border-radius: 15px;
    padding: 15px 0;
    margin-top: 50px;
    margin-bottom: 70px;
    color: white;
    border: 1px solid black;
}

.section {
    background-color: #606060;
    border-radius: 10px;
    color: white;
    padding: 10px;
    margin: 1px 10px;
}

.content {
    padding-bottom: 75px;
    padding-top: 85px;
}

h1, h2, h3, h4, h5 {
    text-align: center;
}

.sidebar h1, .sidebar h2, .sidebar h3, .sidebar h4, .sidebar h5 {
    text-align: left;
}

a img {
    height: 2em;
    margin-bottom: 7px;
}

.navbar {
    background-color: black;
    z-index: 99;
    
    width:100%;
    top:0;
}

.navbar-brand, .navbar-brand a {
    font-size: 28px;
    color: #fdd247 !important;

}

.search {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
}

.navbar-nav > li {
    margin-left: 30px;
    margin-right: 30px;
}

.nav-item:hover a {
    color: white !important;
    cursor: pointer;
    text-decoration: none;
}